<%= form_for @note do |note_form| %>
  <div class="field">
    <%= note_form.label :content %><br />
    <%= note_form.text_area :content %>
    <br />
    <table id="home_new_note_field_tag_table">
      <% @note.links.each do |link| %>
        <tr>
          <td>
            <%= hidden_field_tag "tags[][tag_id]", 0 %>
            <%= check_box_tag "tags[][tag_id]", link.tag.id, true %>
          </td>
          <td><%= link.tag.name %></td>
          <td><%= text_field_tag "tags[][value]", link.value %></td>
        </tr>
      <% end %>

      <% Tag.where(["not id in (?)", @note.tags]).each do |tag| %>
        <tr>
          <td>
            <%= hidden_field_tag "tags[][tag_id]", 0 %>
            <%= check_box_tag "tags[][tag_id]", tag.id, false %>
          </td>
          <td><%= tag.name %></td>
          <td><%= text_field_tag "tags[][value]", nil %></td>
        </tr>
      <% end %>
    </table>
    <%= hidden_field_tag "tags[][tag_id]", 0 %>
    <%= hidden_field_tag "tags[][value]", nil %>
    <%= hidden_field_tag "test", @note.tags.first %>
  </div>
  <div class="actions">
    <%= note_form.submit %>
  </div>
<% end %>

