<h1>Listing manipulations</h1>

<table>
  <tr>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @filter.manipulations.each do |manipulation| %>
  <tr>
    <td><%= manipulation.sort %></td>
    <td><%= manipulation.object %></td>
    <td><%= manipulation.value %></td>
    <td><%= link_to 'Show', filter_manipulation_path(@filter,manipulation) %></td>
    <td><%= link_to 'Edit', edit_filter_manipulation_path(@filter, manipulation) %></td>
    <td><%= link_to 'Destroy', filter_manipulation_path(@filter, manipulation), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Manipulation', new_filter_manipulation_path %>
