<% content_for :main do %>
  <div id="left">
    <div id="new_note">
      <%= render :partial => "new_note", :locals => {:tags => @tags} %>
    </div>
  
    <div id="note_list">
      <% if @info %>
        <div><%= @info %></div>
      <% end %>
      <%= render :partial => 'notes' %>
    </div>
  </div>
  
  <!-- <div id="right"> -->
  <!--   <div id="tag_list"> -->
  <!--     <%= render :partial => 'tags' %> -->
  <!--   </div> -->
  <!-- </div> -->
  
  <div class="clear"></div>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'home' %>
  <%= javascript_include_tag 'home' %>
<% end %>  
