<!DOCTYPE html>
<html>
<head>
  <title>Kkr</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'home' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="head">
    <div id="menu">
      <ul>
	<li id="logo">kkr</li>
	<li id="search"><%= render 'shared/search' %></li>
	<li class="item"><%= link_to 'HOME', '/' %></li>
	<li class="item"><%= link_to 'RESTRICTION', '/restrictions' %></li>
      </ul>
    </div>
  </div>
  <div class="clear"></div>
  
  <div id="content">
    <% if content_for? :main %>
      <%= yield :main %>
    <% else %>
      <%= yield %>
    <% end %>
  </div>

  <div id="tail">
    ojimanman
  </div>
</body>
</html>
